{% extends 'website/base.html' %}

{% load make_shorter %}
{% load widget_tweaks %}


{% block title %}
Рецепт
{% endblock %}

{% block header %}
<h1>
Рецепт
</h1>
{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<div class="text-body text-justify">
    <form action="" method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {% for hidden_field in form.hidden_fields %}
            {{ hidden_field }}
        {% endfor %}

        <div class="row justify-content-start">
            <div class="col-sm">
                <div style="text-align: left;">
                    {{ form.name.label_tag }}
                    {% render_field form.name class="form-control" %}
                </div>
                <div style="text-align: left;">
                    {{ form.description.label_tag }}
                    {% render_field form.description class="form-control" %}
                </div>
                <div style="text-align: left;">
                    {{ form.roadmap.label_tag }}
                    {% render_field form.roadmap class="form-control" %}
                </div>

                <div class="row">
                    <div  class="col-sm" style="text-align: left;">
                        {{ form.req_time.label_tag }}
                        {% render_field form.req_time class="form-control" %}
                    </div>
                </div>
            </div>
            <div class="col-sm">
                {% if form.image.value %}
                    <div>
                        <img class="img-thumbnail" src="/media/{{ form.image.value }}" alt="{{ form.image.value }}" style="width: 200px; height: 200px;">
                    </div>
                {%  endif %}
                <div style="text-align: left;">
                    {{ form.image.label_tag }}
                    {% render_field form.image class="form-control" %}
                </div>
            </div>

        </div>

        <div style="display: flex; gap: 50px; justify-content: center; margin-top: 20px;margin-bottom: 20px;">
            <input type="submit" class="btn btn-primary" value="Сохранить">
            <input type="reset" class="btn btn-primary" value="Очистить">
        </div>

    </form>
</div>
{% else %}
<div class="text-body" style="margin-top: 50px;margin-bottom: 50px; color: red;">
    <h1><strong>Требуется авторизация!</strong></h1>
</div>
{% endif %}

{% endblock %}

